@model FullStackTechTest.Models.SpecialityViewModel.IndexViewModel

<div>
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Speciality Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Speciality in Model.SpecialityList)
            {
                <tr class="clickable-row" data-href="@Url.Action("Details", new { id = Speciality.Id})">
                    <td>@Speciality.Id</td>
                    <td>@Speciality.SpecialityName</td>
                </tr>
            }
        </tbody>
    </table>

</div>

